/* .mt-10{
    margin-top: 10%;
}
.mt-15{
    margin-top: 15%;
} */
.hero{
    background-image: url(images/hero.png);
    background-size: cover;
}
h1{
    font-size: 8rem;
}
.fa-check{
    width: 7%;
    padding: 9px;
    margin-left: 2%;
}
.w-30{
    width: 31%;
}