*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#bg{
    width: 100%;
    height: 740px;
    background-image: linear-gradient(to right,rgb(141, 96, 171),rgb(94, 41, 130));
}
 div{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
 }
.container{
    width: 75%;
    margin: 4% auto;
    font-family: poppins;
}
h2{
    font-size: 38px;
}
.w-50{
    width: 49.8%;
}
#left-side{
    height: 600px;
    color: white;
    background-color: #10c0e3;
    p{
        font-size: 18px;
    }
}
.content{ 
    width: 68%;
    margin-top: 25%;
}
#right-side{
    height: 600px;
    background-color: white;
    h2{
        margin-top: 12%;
    }
}
.frm{
    width: 60%;
    text-align: left;
    p{
        font-size: 12px;
    }
}
.in-put{
    width: 100%;
    height: 45px;
    border: none;
    margin: 2% 0% 2% 1%;
    background-color: rgb(228, 226, 226);
}
.txtarea{
    height: 100px;
    font-family: poppins;
    padding-top: 2%;
}
button{
    margin-left: 40%;
    padding: 10px 40px;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: #10c0e3;
}

